{{> header}}
{{#removed}}
  <div class="alert alert-success" role="alert">
    Successfully removed trust from site.
  </div>
{{/removed}}

<h2>Trusted sites</h2>
<ul class="list-group">
  {{#trusted}}
    <li class="list-group-item">
        <a class="btn btn-xs btn-danger" title="Remove trust"
          href="{{check_trusted_url}}/{{id}}/delete"><span class="glyphicon glyphicon-remove"></span></a>
      {{name}}
    </li>
  {{/trusted}}
</ul>
  {{^trusted}}
    <p>You trust no one :)<p>
  {{/trusted}}

{{> footer}}
