{{> header}}
<h2>Confirm trust removal</h2>
<form id="trusted_remove_confirm" method="post" action="">
  <input type="hidden" name="csrf_token" value="{{csrf_token}}">
  <p>The site <tt>{{trust_root}}</tt> will be removed from your trusted site list.</p>
  <div class="btn-group">
    <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove"></span>
      Remove
    </button>
    <a href="{{check_trusted_url}}" class="btn btn-default">
      Cancel
    </a>
  </div>
</form>
{{> footer}}
