{{> header}}
<h2>Verification request</h2>

<p>
    The site <tt>{{ trust_root }}</tt> has requested verification
    of your OpenID as <tt>{{ identity }}</tt>.
</p>
<form class="form" id="verify" method="post" action="{{ decision_url }}">
  <div class="btn-group">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <button type="submit" name="approve">Yes (once)</button>
    <button type="submit" name="always">Yes (always)</button>
    <button type="submit" name="decline">No (cancel)</button>
  </div>
</form>
{{> footer}}
